.App {
  text-align: center;
  background-image: linear-gradient(to right, #9ADEFA, #2C5282);
  padding:20px;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Bigelow Rules', serif;
  font-size: 120px;
  color: #EFF8FF;
  margin: 20px;
}